<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet" />
  <title>mercadoliebre</title>
  <script src="https://kit.fontawesome.com/8830e5eae0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/fonts.css" />
  <link rel="stylesheet" href="./css/movil.css" />
  <link rel="stylesheet" href="./css/tablet.css" />
  <link rel="stylesheet" href="./css/dekstop.css"/>

</head>

<body>
  <header>
    <section class="bannerprincipal">
      <nav class="logo-form">
        <img id="logomercado" src="/images/logo-mercado-liebre.svg" alt="logo de mercadliebre" />
        
        <form id="barrabusqueda" action="busqueda" method="get">
            <input type="text" id="busqueda" placeholder="buscar productos, marcas">
            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </nav>
        <h2>
          <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin
          tarjeta de credito
        </h2>
      </nav>
    </section>
    <section class=>
      <div id=>
        <a href="">Oferta</a>
        <a href="">Tiendas oficiales</a>
        <a href="">Vender</a>
        <a href="">Ayuda</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/registrarse">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a>

        <a href="/ingreso">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a>

        <a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
      </div>
    </section>
    <section id="logomenu">
      <nav id="contenedormenu">
        <a href="/registrarse">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
    </section>
  </header>
  <img class="banner" src="/images/img-home-banner.jpg" alt="banner" />
  <main>
    <h3 class="veinticuatropx">seccion: Basado en tu ultima visita</h3>
    <section class="productos">
      <article>
        <img class="centrar" src="/images/img-cafetera-Moulinex.jpg" alt="imagen de cafetera" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$6.770</li>
          <li class="descuento">40% OFF</li>
          <br />
          <li class="descripcion">Cafetera Moulinex</li>
        </ul>
      </article>

      <article>
        <img class="centrar" src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$230.000</li>
          <li class="descuento">20% OFF</li>
          <br />
          <li class="descripcion">MacBook Pro 2019</li>
        </ul>
      </article>

      <article>
        <img class="centrar" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$70.500</li>
          <li class="descuento">10% OFF</li>
          <br />
          <li class="descripcion">samsung galaxy s10</li>
        </ul>
      </article>

      <article>
        <img class="centrar" src="/images/img-tv-samsung-smart.jpg" alt="imagen de smart tv " />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$23.200</li>
          <li class="descuento">5% OFF</li>
          <br />
          <li class="descripcion">smart tv samsung 43"</li>
        </ul>
      </article>
    </section>
    <h3 class="veinticuatropx">Seccion de ofertas</h3>
    <section class="productos">

      <article>
        <img class="centrar" src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera moulinex " />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$6.770</li>
          <li class="descuento">40% OFF</li>
          <br />
          <li class="descripcion">cafetera Moulinex</li>
        </ul>
      </article>
      <article>
        <img class="centrar" src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$230.000</li>
          <li class="descuento">40% OFF</li>
          <br />
          <li class="descripcion">MacBook Pro 2019</li>
        </ul>
      </article>
      <article>
        <img class="centrar" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de samsung galaxy s10" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">70.500</li>
          <li class="descuento">10% OFF</li>
          <br />
          <li class="descripcion">samsung galaxy s10</li>
        </ul>
      </article>
      <article>
        <img class="centrar" src="/images/img-tv-samsung-smart.jpg" alt="imagen de tv" />
        <ul class="cajadearticulos">
          <nav class="icono-envio"><i class="fa-solid fa-truck"></i></nav>
          <li class="precio">$23.200</li>
          <li class="descuento">5% OFF</li>
          <br />
          <li class="descripcion">Smart TV samsung 43"</li>
        </ul>
      </article>
    </section>
  </main>
  <footer>
    <br />
    <br />
    <section>
      <nav class="iconosfooter">
        <i class="fa-regular fa-credit-card"></i>
      </nav>
      <h4 class="veinticuatropx">Pagá con tarjeta o en efectivo</h4>
      <p class="textofooter">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section>
      <nav class="iconosfooter"><i class="fa-solid fa-gift"></i></nav>
      <h4 class="veinticuatropx">Envío gratis desde $ 2.500</h4>
      <p class="textofooter">
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <nav class="iconosfooter"><i class="fa-solid fa-user-shield"></i></nav>
      <h4 class="veinticuatropx">Seguridad, de principio a fin</h4>
      <p class="textofooter">
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>
    <section>
      <h5 class="grisoscuro">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </section>
  </footer>
</body>

</html>