<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet" />
  <title>mercadoliebre</title>
  <script src="https://kit.fontawesome.com/8830e5eae0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/fonts.css" />
  <link rel="stylesheet" href="./css/movil.css" />
  <link rel="stylesheet" href="./css/tablet.css" />
  <link rel="stylesheet" href="./css/dekstop.css">
  <link rel="stylesheet" href="./css/registro-movil.css" />
  <link rel="stylesheet" href="./css/registro-tablet.css" />
  <link rel="stylesheet" href="./css/registro-dekstop.css" />

</head>

<body>
  <header>
    <section class="bannerprincipal">
      <nav class="logo-form">
        <img id="logomercado" src="/images/logo-mercado-liebre.svg" alt="logo de mercadliebre" />

        <form id="barrabusqueda" action="busqueda" method="get">
          <input type="text" id="busqueda" placeholder="buscar productos, marcas">
          <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </nav>
      <h2>
        <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin
        tarjeta de credito
      </h2>
      </nav>
    </section>
    <section class=>
      <div id=>
        <a href="">Oferta</a>
        <a href="">Tiendas oficiales</a>
        <a href="">Vender</a>
        <a href="">Ayuda</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/registrarse">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a>

        <a href="/ingreso">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a>

        <a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a>
      </div>
    </section>
    <section id="logomenu">
      <nav id="contenedormenu">
        <a href="/registrarse">
          <i class="fas fa-bars"></i>
        </a>
      </nav>
    </section>
  </header>
  <img class="banner" src="/images/img-home-banner.jpg" alt="banner" />
  <main>
    <form id="registro" action="/registrarse.html" method="post">
    <p>
      <label for="nombre"></label>
      <input  class="texto" type="text" name="nombre" placeholder="nombre y apellido" id="nombre" required>
    </p>
    <p>
      <label for="nombre-usuario"></label>
      <input class="texto" type="text" name="nombre-usuario" placeholder="nombre de usuario" id="nombre-usuario" required>
    </p>
    <p>
      <label for="e-mail"></label>
      <input class="texto" type="email" name="e-mail" placeholder="E-mail"
      id="e-mail" required>
    </p>
    <p>
<label for="fechadenacimiento">fecha de nacimiento:</label>
<input class="texto" type="date" name="fecha" id="fechadenacimiento">

    </p>
    <p>
<label for="domicilio"></label>
<input class="texto" type="text" name="domicilio" placeholder="domicilio" id="domicilio" required>
    </p>
    <p class="box">
      <label for="perfildeusuario">perfil del usuario</label>
      <input class="boxes" type="radio" name="perfildeusuario" value="comprador">comprador
      <input class="boxes" type="radio" name="perfildeusuario" value="vendedor">vendedor
    </p>
    <p class="box">
<label for="intereses">intereses</label>
<input class="boxes" type="checkbox" name="intereses" value="electro" id="intereses">electro
<input class="boxes" type="checkbox" name="intereses" value="moda" id="intereses" >moda
<input class="boxes" type="checkbox" name="intereses" value="hogar" id="intereses" >hogar
<input class="boxes" type="checkbox" name="intereses" value="jugueteria" id="intereses" >jugueteria
<input class="boxes" type="checkbox" name="intereses" value="vida sana" id="intereses" >vida sana
<input class="boxes" type="checkbox" name="intereses" value="alimentos" id="intereses" >alimentos

    </p>
    <p>
      <label for="contraseña"></label>
      <input class="texto" type="password" name="password" placeholder="elegi tu contraseña" id="contraseña" required>
    </p>
    <p>
      <label for="password"></label>
      <input class="texto" type="password" name="password" placeholder="confirma tu contraseña" id="password" required>
    </p>
    
    </p>
        <button class="boton"  type="submit" value="enviar">enviar</button>
        <button class="boton" type="reset" value="borrar">borrar</button>
      </p>
     
   
  </form>




























  </main>
  <footer>
    <br />
    <br />
    <section>
      <nav class="iconosfooter">
        <i class="fa-regular fa-credit-card"></i>
      </nav>
      <h4 class="veinticuatropx">Pagá con tarjeta o en efectivo</h4>
      <p class="textofooter">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section>
      <nav class="iconosfooter"><i class="fa-solid fa-gift"></i></nav>
      <h4 class="veinticuatropx">Envío gratis desde $ 2.500</h4>
      <p class="textofooter">
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <nav class="iconosfooter"><i class="fa-solid fa-user-shield"></i></nav>
      <h4 class="veinticuatropx">Seguridad, de principio a fin</h4>
      <p class="textofooter">
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>
    <section>
      <h5 class="grisoscuro">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </section>
  </footer>
</body>

</html>