@media (min-width: 768px) {

header{height: 30vh;}
    div {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
       
        ;
        
    }


    a {display: block;
        font-size: 10;
        text-decoration: underline;
        color: black;


    }

    .bannerprincipal {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 5%;
        font-size: 16px;

    }

    h2 {
        font-size: 12px;
        width: 33%;
    height: 100%;   }
    



    article {
        width: 40%;
        justify-content: space-around;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 15px;
    }



    .logomercado {
        width: 25%;
    }

    #contenedormenu {
        display: none;
        text-align: center;
    }

    #contenedormenu a {
        display: none;
    }



    .descripcion {
        display: block;
    }

    .cajadearticulos {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

    }

    .precio {
        flex-basis: 30%;
    }

    .descuento {
        flex-basis: 70%;
    }
    #barrabusqueda  {
        display: flex;
        width: 50%;
        justify-content: space-between;
        background-color: #EAC926;
        height: 2rem;
        margin-left: 10px;
        }
         #barrabusqueda  input{flex-grow: 1;
        
          background-color:snow;
        border-radius: 12px 0px 0px 12px;}
          
          
        
        
          #barrabusqueda   button {background-color:snow;
        
          color: #666;
          border-radius: 0px 12px 12px 0px;}
}
         
          

        


